*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(99, 88, 74);
    height: 70%;
    width: 30%;
    border-radius: 50px;
    border: 3px solid rgb(77, 59, 36);
    -webkit-box-shadow: 40px 40px 27px 1px rgb(175, 165, 151);
    -moz-box-shadow: 40px 40px 27px 1px rgb(175, 165, 151);
    box-shadow: 40px 40px 27px 1px rgb(175, 165, 151);
}

.header {
    color: white;
    margin-top: 20px;
    font-size: 25px;
}

.opcao {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opcao a{
    font-size: 18px;
    height: 30%;
    width: 65%;
    margin: 15px;
    padding: 5px;
    display: block;
    background-color: rgb(129, 111, 84);
    color: white;
    border-radius: 7px;
    border: 2px solid rgb(77, 59, 36);
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.opcao a:hover{
    border: 2.3px solid #530180;
    background-color: #9453b1;
    transition: 0.7s;
}