*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

header{
    padding: 20px;
    text-align: center;
    background-color: rgb(78, 68, 53);
}

main {
    background-color: rgb(247, 229, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div {
    margin: 5px;
}

.identidadeCadastro {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 88, 74);
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    border: solid 3px rgb(77, 59, 36);
}

.identidadeCadastro h1 {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}

.padrao {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.padrao p {
    width: 30%;
    height: 2%;
    font-size: 17px;
    background-color: rgb(129, 111, 84) ;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    padding: 3px;
    font-weight: bold;
}

.padrao input {
    background-color: rgb(192, 179, 162);
    height: 2%;
    width: 70%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    outline: 0;
}

.enderecoCadastro{
    border-top: 2px solid rgb(73, 63, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 88, 74);
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    border: solid 3px rgb(77, 59, 36);
}

.enderecoCadastro h1 {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}

.empresaCadastro{
    border-top: 2px solid rgb(73, 63, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 88, 74);
    padding: 15px;
    border-radius: 30px;
    width: 40%;
    border: solid 3px rgb(77, 59, 36);
}

.empresaCadastro h1 {
    font-size: 25px;
    padding: 5px;
    font-weight: bold;
}

.completoCadastro {
    margin: 20px;
}

.completoCadastro button {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(156, 132, 103);
    border-radius: 10px;
    border: 2px solid rgb(73, 63, 50);
    cursor: pointer;
}

.completoCadastro button:hover {
    transition: 0.5s;
    background-color: rgb(107, 80, 50);
}